<%- include('../includes/head.ejs') %> 
</head>
<%- include('../includes/navigation.ejs') %> 

    <h1>Admin Products Page</h1> 

<!--===== Footer =====-->
<%- include('../includes/footer.ejs') %> 
<%- include('../includes/end.ejs') %> 
